@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@iconify/tailwind4";

@custom-variant dark (&:is(.dark *));
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme inline {
  --animate-skeleton: skeleton 2s -1s infinite linear;
  --font-heading: var(--font-sans),var(--font-vazir);
  --animate-caret-blink: 1s ease-out infinite caret-blink;
  --animate-toast-success-odd: toast-success-odd 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-success-even: toast-success-even 0.32s
    cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-odd: toast-error-odd 0.28s cubic-bezier(0.5, 1, 0.89, 1);
  --animate-toast-error-even: toast-error-even 0.28s
    cubic-bezier(0.5, 1, 0.89, 1);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono),var(--font-vazir);
  --font-vazir: var(--font-vazirmatn);
  --font-pixel-circle: var(--font-geist-pixel-circle);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-grid: var(--font-geist-pixel-grid);
  --font-pixel-line: var(--font-geist-pixel-line);
  --font-pixel-triangle: var(--font-geist-pixel-triangle);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  @keyframes skeleton {
    to {
      background-position: -200% 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    to {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes toast-success-odd {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-odd {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
  @keyframes toast-success-even {
    0% {
      scale: 1;
    }
    30% {
      scale: 1.025;
    }
    60% {
      scale: 0.99;
    }
    100% {
      scale: 1;
    }
  }
  @keyframes toast-error-even {
    0% {
      translate: 0 0;
    }
    25% {
      translate: -3px 0;
    }
    50% {
      translate: 3px 0;
    }
    75% {
      translate: -3px 0;
    }
    100% {
      translate: 0 0;
    }
  }
  --animate-spin-around: spin-around 0.8s linear infinite;
  @keyframes spin-around {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  --animate-marquee-left: marquee-left var(--marquee-duration) linear
    var(--marquee-loop-count);
  --animate-marquee-right: marquee-right var(--marquee-duration) linear
    var(--marquee-loop-count);
  --animate-marquee-left-rtl: marquee-left-rtl var(--marquee-duration) linear
    var(--marquee-loop-count);
  --animate-marquee-right-rtl: marquee-right-rtl var(--marquee-duration) linear
    var(--marquee-loop-count);
  --animate-marquee-up: marquee-up var(--marquee-duration) linear
    var(--marquee-loop-count);
  --animate-marquee-down: marquee-down var(--marquee-duration) linear
    var(--marquee-loop-count);
  @keyframes marquee-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
  @keyframes marquee-right {
    0% {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes marquee-up {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(calc(-100% - var(--marquee-gap)));
    }
  }
  @keyframes marquee-down {
    0% {
      transform: translateY(calc(-100% - var(--marquee-gap)));
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes marquee-left-rtl {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(100% + var(--marquee-gap)));
    }
  }
  @keyframes marquee-right-rtl {
    0% {
      transform: translateX(calc(100% + var(--marquee-gap)));
    }
    100% {
      transform: translateX(0%);
    }
  }
  --color-line: color-mix(in oklab, var(--border) 64%, var(--background));

  /* Charts */
  --color-chart-background: var(--chart-background);
  --color-chart-foreground: var(--chart-foreground);
  --color-chart-foreground-muted: var(--chart-foreground-muted);
  --color-chart-line-primary: var(--chart-line-primary);
  --color-chart-line-secondary: var(--chart-line-secondary);
  --color-chart-crosshair: var(--chart-crosshair);
  --color-chart-grid: var(--chart-grid);
  --color-chart-brush-border: var(--chart-brush-border);
  --color-chart-tooltip-background: var(--chart-tooltip-background);
  --color-chart-tooltip-foreground: var(--chart-tooltip-foreground);
  --color-chart-tooltip-muted: var(--chart-tooltip-muted);
  --color-chart-marker-background: var(--chart-marker-background);
  --color-chart-marker-border: var(--chart-marker-border);
  --color-chart-marker-foreground: var(--chart-marker-foreground);
  --color-chart-ring-background: var(--chart-ring-background);
  --color-chart-label: var(--chart-label);
  --color-chart-scale-01: var(--chart-scale-01);
  --color-chart-scale-02: var(--chart-scale-02);
  --color-chart-scale-03: var(--chart-scale-03);
  --color-chart-scale-04: var(--chart-scale-04);
  --color-chart-scale-05: var(--chart-scale-05);
  --color-chart-scale-pattern-color: var(--chart-scale-pattern-color);
}

:root ,.light{
  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: var(--color-neutral-800);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-800);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-800);
  --primary: var(--color-neutral-800);
  --primary-foreground: var(--color-neutral-50);
  --secondary: --alpha(var(--color-black) / 4%);
  --secondary-foreground: var(--color-neutral-800);
  --muted: --alpha(var(--color-black) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-neutral-500) 90%,
    var(--color-black)
  );
  --accent: --alpha(var(--color-black) / 4%);
  --accent-foreground: var(--color-neutral-800);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --border: --alpha(var(--color-black) / 8%);
  --input: --alpha(var(--color-black) / 10%);
  --ring: var(--color-neutral-400);
  --sidebar: var(--color-neutral-50);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-neutral-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-neutral-800);
  --sidebar-primary-foreground: var(--color-neutral-50);
  --sidebar-accent: --alpha(var(--color-black) / 4%);
  --sidebar-accent-foreground: var(--color-neutral-800);
  --sidebar-border: --alpha(var(--color-black) / 6%);
  --sidebar-ring: var(--color-neutral-400);
  --chart-1: oklch(0.32 0 none);
  --chart-2: oklch(0.41 0 none);
  --chart-3: oklch(0.54 0 none);
  --chart-4: oklch(0.71 0 none);
  --chart-5: oklch(0.89 0 none);
  --chart-background: oklch(1 0 0);
  --chart-foreground: oklch(0.145 0.004 285);
  --chart-foreground-muted: oklch(0.55 0.014 260);
  --chart-line-primary: var(--chart-1);
  --chart-line-secondary: var(--chart-2);
  --chart-crosshair: oklch(0.4 0.1828 274.34);
  --chart-grid: oklch(0.9 0 0);
  --chart-brush-border: var(--chart-grid);
  --chart-tooltip-background: oklch(0.21 0.006 285 / 0.8);
  --chart-tooltip-foreground: oklch(0.985 0 0);
  --chart-tooltip-muted: oklch(0.65 0.01 260);
  --chart-marker-background: oklch(0.97 0.005 260);
  --chart-marker-border: oklch(0.85 0.01 260);
  --chart-marker-foreground: oklch(0.3 0.01 260);
  --chart-ring-background: oklch(0.9 0.005 260 / 0.25);
  --chart-label: oklch(0.45 0.01 260);
  --chart-scale-01: oklch(0.98 0.003 106);
  --chart-scale-02: oklch(0.92 0.008 106);
  --chart-scale-03: oklch(0.82 0.015 106);
  --chart-scale-04: oklch(0.68 0.02 106);
  --chart-scale-05: oklch(0.55 0.025 106);
  --chart-scale-pattern-color: oklch(0.96 0.005 106);
}

.dark {
  --background: oklch(0.191 0.000 89.9);
  --foreground: oklch(0.917 0.013 82.4);
  --card: oklch(0.226 0.000 89.9);
  --card-foreground: oklch(0.917 0.013 82.4);
  --popover: color-mix(in srgb, var(--background) 98%, var(--color-white));
  --popover-foreground: var(--color-neutral-100);
  --primary: var(--color-neutral-100);
  --primary-foreground: var(--color-neutral-800);
  --secondary: --alpha(var(--color-white) / 4%);
  --secondary-foreground: var(--color-neutral-100);
  --muted: --alpha(var(--color-white) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-neutral-500) 90%,
    var(--color-white)
  );
  --accent: --alpha(var(--color-white) / 4%);
  --accent-foreground: var(--color-neutral-100);
  --destructive: color-mix(
    in srgb,
    var(--color-red-500) 90%,
    var(--color-white)
  );
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --border: --alpha(var(--color-white) / 6%);
  --input: --alpha(var(--color-white) / 8%);
  --ring: var(--color-neutral-500);
  --sidebar: color-mix(
    in srgb,
    var(--color-neutral-950) 97%,
    var(--color-white)
  );
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-neutral-100) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-neutral-100);
  --sidebar-primary-foreground: var(--color-neutral-800);
  --sidebar-accent: --alpha(var(--color-white) / 4%);
  --sidebar-accent-foreground: var(--color-neutral-100);
  --sidebar-border: --alpha(var(--color-white) / 5%);
  --sidebar-ring: var(--color-neutral-400);
  --chart-1: oklch(1 0 none);
  --chart-2: oklch(0.73 0 none);
  --chart-3: oklch(0.51 0 none);
  --chart-4: oklch(0.39 0 none);
  --chart-5: oklch(0.32 0 none);
  --chart-background: oklch(0.145 0 0);
  --chart-foreground: oklch(0.45 0 0);
  --chart-foreground-muted: oklch(0.65 0.01 260);
  --chart-crosshair: oklch(0.45 0 0);
  --chart-grid: oklch(0.22 0 0);
  --chart-brush-border: var(--chart-grid);
  --chart-marker-background: oklch(0.25 0.01 260);
  --chart-marker-border: oklch(0.4 0.01 260);
  --chart-marker-foreground: oklch(0.9 0 0);
  --chart-ring-background: oklch(0.35 0.01 260 / 0.25);
  --chart-label: oklch(0.75 0.01 260);
  --chart-scale-01: oklch(0.28 0.03 270);
  --chart-scale-02: oklch(0.38 0.04 270);
  --chart-scale-03: oklch(0.48 0.05 270);
  --chart-scale-04: oklch(0.58 0.06 270);
  --chart-scale-05: oklch(0.68 0.07 270);
  --chart-scale-pattern-color: oklch(0.145 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-sans), var(--font-vazirmatn);
    @apply bg-background text-foreground;
  }
  .fa-number {
    font-family: var(--font-vazir);
    font-feature-settings: "ss01";
  }
  ::selection {
    @apply bg-foreground text-background;
  }
  .container {
    @apply mx-auto px-6;
  }

  * {
    scrollbar-width: 2px;
    scrollbar-color: var(--muted) transparent;
    scroll-behavior: smooth;
  }

  /* Webkit browsers */
  *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  *::-webkit-scrollbar-track {
    background: var(--muted);
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--muted);
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--muted-foreground);
  }

  *::-webkit-scrollbar-corner {
    background: var(--muted);
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility screen-line-top {
    @apply relative before:absolute before:top-0 before:left-[-100vw] before:-z-1 before:h-px before:w-[200vw] before:bg-line;}

@utility screen-line-bottom {
    @apply relative after:absolute after:bottom-0 after:left-[-100vw] after:-z-1 after:h-px after:w-[200vw] after:bg-line;}

@utility link-underline {
    @apply underline decoration-current/30 decoration-1 underline-offset-3 transition-colors hover:decoration-current;
}